//---------------------------------\\
//----------Table of Content-------\\
//---------------------------------\\

// 1 Grid
//      1-1 Containers
//      1-2 Columns
//          1-2-1 Columns Offset
//          1-2-2 Columns Space
// 2 Media Queries
//      2-1 Containers
//          2-1-1 Containers Phone 0 to 703 
//          2-1-2 Containers Tablet 704 to 1087
//          2-1-3 Containers Desktop 1088 to 1279
//      2-2 Columns
//          2-2-1 Columns Phone 0 to 703
//              2-2-1-1 Columns Offset Phone
//          2-2-2 Columns Tablet 704 to 1087
//              2-2-2-1 Columns Offset Phone
//          2-2-2 Columns Desktop from 1088
//              2-2-2-1 Columns Offset Desktop
    
@import "compass/css3/";
@import "epp-mixins";

//---------------------------------\\
//---------------Grid--------------\\
//---------------------------------\\

//------------Containers-----------\\

[class*="epp-ctn"]{
    font-size:0!important;
    margin:0 auto;
    padding: 0;
    letter-spacing: -.31em;
    @include transition-property(all);
    @include transition-duration(400ms);
    @include transition-timing-function(ease-out);
}
.epp-ctn--xxl{
    max-width:1344px;
}
.epp-ctn--xl{
    max-width:1248px;
}
.epp-ctn--lg{
    max-width:1056px;
}
.epp-ctn--md{
    max-width:960px;
}
.epp-ctn--sm{
    max-width:768px;
}
.epp-ctn--gtr > [class*="epp-cl-"]{
    box-sizing:border-box;
    padding-left: 8px;
    padding-right: 8px;
}


//--------------Columns------------\\

[class*="epp-cl-"]{
    display:inline-block;
    vertical-align:top;
    letter-spacing: normal;
    zoom: 1;
    margin: 0;
    @include font-rem (null,16px,24px,null);
    &[class*="epp-ctn"]{
      padding-left: 0;
      padding-right: 0;
    }
}
.epp-cl-1{
    width:100%
}
.epp-cl-1-2{
    width:50%;*width:49.969%
}
.epp-cl-1-3{
    width:33.3333%;*width:33.3023%
}
.epp-cl-1-4{
    width:25%;*width:24.969%
}
.epp-cl-1-5{
    width:20%;*width:19.969%
}
.epp-cl-1-6{
    width:16.6667%;*width:16.6357%
}
.epp-cl-1-8{
    width:12.5%;*width:12.469%
}
.epp-cl-1-12{
    width:8.3333%;*width:8.3023%
}
.epp-cl-1-24{
    width:4.1667%;*width:4.1357%
}
.epp-cl-2-3{
    width:66.6667%;*width:66.6357%
}
.epp-cl-2-5{
    width:40%;*width:39.969%
}
.epp-cl-3-4{
    width:75%;*width:74.969%
}
.epp-cl-3-5{
    width:60%;*width:59.969%
}
.epp-cl-3-8{
    width:37.5%;*width:37.469%
}
.epp-cl-4-5{
    width:80%;*width:79.969%
}
.epp-cl-5-6{
    width:83.3333%;*width:83.3023%
}
.epp-cl-5-8{
    width:62.5%;*width:62.469%
}
.epp-cl-5-12{
    width:41.6667%;*width:41.6357%
}
.epp-cl-5-24{
    width:20.8333%;*width:20.8023%
}
.epp-cl-7-8{
    width:87.5%;*width:87.469%
}
.epp-cl-7-12{
    width:58.3333%;*width:58.3023%
}
.epp-cl-7-24{
    width:29.1667%;*width:29.1357%
}
.epp-cl-11-12{
    width:91.6667%;*width:91.6357%
}
.epp-cl-11-24{
    width:45.8333%;*width:45.8023%
}
.epp-cl-13-24{
    width:54.1667%;*width:54.1357%
}
.epp-cl-17-24{
    width:70.8333%;*width:70.8023%
}
.epp-cl-19-24{
    width:79.1667%;*width:79.1357%
}
.epp-cl-23-24{
    width:95.8333%;*width:95.8023%
}

// Column Offset

.epp-of-1-2{
    margin-left:50%;*margin-left:49.969%
}
.epp-of-1-3{
    margin-left:33.3333%;*margin-left:33.3023%
}
.epp-of-1-4{
    margin-left:25%;*margin-left:24.969%
}
.epp-of-1-5{
    margin-left:20%;*margin-left:19.969%
}
.epp-of-1-6{
    margin-left:16.6667%;*margin-left:16.6357%
}
.epp-of-1-8{
    margin-left:12.5%;*margin-left:12.469%
}
.epp-of-1-12{
    margin-left:8.3333%;*margin-left:8.3023%
}
.epp-of-1-24{
    margin-left:4.1667%;*margin-left:4.1357%
}
.epp-of-2-3{
    margin-left:66.6667%;*margin-left:66.6357%
}
.epp-of-2-5{
    margin-left:40%;*margin-left:39.969%
}
.epp-of-3-4{
    margin-left:75%;*margin-left:74.969%
}
.epp-of-3-5{
    margin-left:60%;*margin-left:59.969%
}
.epp-of-3-8{
    margin-left:37.5%;*margin-left:37.469%
}
.epp-of-4-5{
    margin-left:80%;*margin-left:79.969%
}
.epp-of-5-6{
    margin-left:83.3333%;*margin-left:83.3023%
}
.epp-of-5-8{
    margin-left:62.5%;*margin-left:62.469%
}
.epp-of-5-12{
    margin-left:41.6667%;*margin-left:41.6357%
}
.epp-of-5-24{
    margin-left:20.8333%;*margin-left:20.8023%
}
.epp-of-7-8{
    margin-left:87.5%;*margin-left:87.469%
}
.epp-of-7-12{
    margin-left:58.3333%;*margin-left:58.3023%
}
.epp-of-7-24{
    margin-left:29.1667%;*margin-left:29.1357%
}
.epp-of-11-12{
    margin-left:91.6667%;*margin-left:91.6357%
}
.epp-of-11-24{
    margin-left:45.8333%;*margin-left:45.8023%
}
.epp-of-13-24{
    margin-left:54.1667%;*margin-left:54.1357%
}
.epp-of-17-24{
    margin-left:70.8333%;*margin-left:70.8023%
}
.epp-of-19-24{
    margin-left:79.1667%;*margin-left:79.1357%
}
.epp-of-23-24{
    margin-left:95.8333%;*margin-left:95.8023%
}

//---------------------------------\\
//----------Media Queries----------\\
//---------------------------------\\

//-----------Containers------------\\

// Containers Phone 0 to 767

@media (max-width:287px){
    .epp-ctn--xxl{
        max-width:100%;
    }
    .epp-ctn--xl{
        max-width:100%;
    }
    .epp-ctn--lg{
        max-width:100%;
    }
    .epp-ctn--md{
        max-width:100%;
    }
    .epp-ctn--sm{
        max-width:100%;
    }
}

@media (min-width:288px) and (max-width:383px){
    .epp-ctn--xxl{
        max-width:288px;
    }
    .epp-ctn--xl{
        max-width:288px;
    }
    .epp-ctn--lg{
        max-width:288px;
    }
    .epp-ctn--md{
        max-width:288px;
    }
    .epp-ctn--sm{
        max-width:288px;
    }
}

@media (min-width:384px) and (max-width:479px){
    .epp-ctn--xxl{
        max-width:384px;
    }
    .epp-ctn--xl{
        max-width:384px;
    }
    .epp-ctn--lg{
        max-width:384px;
    }
    .epp-ctn--md{
        max-width:384px;
    }
    .epp-ctn--sm{
        max-width:384px;
    }
}

@media (min-width:480px) and (max-width:575px){
    .epp-ctn--xxl{
        max-width:480px;
    }
    .epp-ctn--xl{
        max-width:480px;
    }
    .epp-ctn--lg{
        max-width:480px;
    }
    .epp-ctn--md{
        max-width:480px;
    }
    .epp-ctn--sm{
        max-width:480px;
    }
}

@media (min-width:576px) and (max-width:671px){
    .epp-ctn--xxl{
        max-width:576px;
    }
    .epp-ctn--xl{
        max-width:576px;
    }
    .epp-ctn--lg{
        max-width:576px;
    }
    .epp-ctn--md{
        max-width:576px;
    }
    .epp-ctn--sm{
        max-width:576px;
    }
}

@media (min-width:672px) and (max-width:767px){
    .epp-ctn--xxl{
        max-width:672px;
    }
    .epp-ctn--xl{
        max-width:672px;
    }
    .epp-ctn--lg{
        max-width:672px;
    }
    .epp-ctn--md{
        max-width:672px;
    }
    .epp-ctn--sm{
        max-width:672px;
    }
}

@media (min-width:672px) and (max-width:767px){
    .epp-ctn--xxl{
        max-width:672px;
    }
    .epp-ctn--xl{
        max-width:672px;
    }
    .epp-ctn--lg{
        max-width:672px;
    }
    .epp-ctn--md{
        max-width:672px;
    }
    .epp-ctn--sm{
        max-width:672px;
    }
}

// Containers Tablet 768 to 1151

@media (min-width:768px) and (max-width:863px){
    .epp-ctn--xxl{
        max-width:768px;
    }
    .epp-ctn--xl{
        max-width:768px;
    }
    .epp-ctn--lg{
        max-width:768px;
    }
    .epp-ctn--md{
        max-width:768px;
    }
    .epp-ctn--sm{
        max-width:768px;
    }
}

@media (min-width:864px) and (max-width:959px){
    .epp-ctn--xxl{
        max-width:864px;
    }
    .epp-ctn--xl{
        max-width:864px;
    }
    .epp-ctn--lg{
        max-width:864px;
    }
    .epp-ctn--md{
        max-width:864px;
    }
    .epp-ctn--sm{
        max-width:768px;
    }
}

@media (min-width:960px) and (max-width:1055px){
    .epp-ctn--xxl{
        max-width:960px;
    }
    .epp-ctn--xl{
        max-width:960px;
    }
    .epp-ctn--lg{
        max-width:960px;
    }
    .epp-ctn--md{
        max-width:960px;
    }
    .epp-ctn--sm{
        max-width:768px;
    }
}

@media (min-width:1056px) and (max-width:1151px){
    .epp-ctn--xxl{
        max-width:1056px;
    }
    .epp-ctn--xl{
        max-width:1056px;
    }
    .epp-ctn--lg{
        max-width:1056px;
    }
    .epp-ctn--md{
        max-width:960px;
    }
    .epp-ctn--sm{
        max-width:768px;
    }
}

// Containers Desktop 1152 to 

@media (min-width:1152px) and (max-width:1247px){
    .epp-ctn--xxl{
        max-width:1152px;
    }
    .epp-ctn--xl{
        max-width:1056px;
    }
    .epp-ctn--lg{
        max-width:1056px;
    }
    .epp-ctn--md{
        max-width:960px;
    }
    .epp-ctn--sm{
        max-width:768px;
    }
}

@media (min-width:1248px) and (max-width:1343px){
    .epp-ctn--xxl{
        max-width:1248px;
    }
    .epp-ctn--xl{
        max-width:1248px;
    }
    .epp-ctn--lg{
        max-width:1056px;
    }
    .epp-ctn--md{
        max-width:960px;
    }
    .epp-ctn--sm{
        max-width:768px;
    }
}
@media (min-width:1344px){
    .epp-ctn--xxl{
        max-width:1344px;
    }
    .epp-ctn--xl{
        max-width:1248px;
    }
    .epp-ctn--lg{
        max-width:1056px;
    }
    .epp-ctn--md{
        max-width:960px;
    }
    .epp-ctn--sm{
        max-width:768px;
    }
}


//------------Columns----------\\

// Columns Phone 0 to 767

@media (max-width:767px){
    .epp-cl-1--ph{
        width:100%
    }
    .epp-cl-1-2--ph{
        width:50%;*width:49.969%
    }
    .epp-cl-1-3--ph{
        width:33.3333%;*width:33.3023%
    }
    .epp-cl-1-4--ph{
        width:25%;*width:24.969%
    }
    .epp-cl-1-5--ph{
        width:20%;*width:19.969%
    }
    .epp-cl-1-6--ph{
        width:16.6667%;*width:16.6357%
    }
    .epp-cl-1-8--ph{
        width:12.5%;*width:12.469%
    }
    .epp-cl-1-12--ph{
        width:8.3333%;*width:8.3023%
    }
    .epp-cl-1-24--ph{
        width:4.1667%;*width:4.1357%
    }
    .epp-cl-2-3--ph{
        width:66.6667%;*width:66.6357%
    }
    .epp-cl-2-5--ph{
        width:40%;*width:39.969%
    }
    .epp-cl-3-4--ph{
        width:75%;*width:74.969%
    }
    .epp-cl-3-5--ph{
        width:60%;*width:59.969%
    }
    .epp-cl-3-8--ph{
        width:37.5%;*width:37.469%
    }
    .epp-cl-4-5--ph{
        width:80%;*width:79.969%
    }
    .epp-cl-5-6--ph{
        width:83.3333%;*width:83.3023%
    }
    .epp-cl-5-8--ph{
        width:62.5%;*width:62.469%
    }
    .epp-cl-5-12--ph{
        width:41.6667%;*width:41.6357%
    }
    .epp-cl-5-24--ph{
        width:20.8333%;*width:20.8023%
    }
    .epp-cl-7-8--ph{
        width:87.5%;*width:87.469%
    }
    .epp-cl-7-12--ph{
        width:58.3333%;*width:58.3023%
    }
    .epp-cl-7-24--ph{
        width:29.1667%;*width:29.1357%
    }
    .epp-cl-11-12--ph{
        width:91.6667%;*width:91.6357%
    }
    .epp-cl-11-24--ph{
        width:45.8333%;*width:45.8023%
    }
    .epp-cl-13-24--ph{
        width:54.1667%;*width:54.1357%
    }
    .epp-cl-17-24--ph{
        width:70.8333%;*width:70.8023%
    }
    .epp-cl-19-24--ph{
        width:79.1667%;*width:79.1357%
    }
    .epp-cl-23-24--ph{
        width:95.8333%;*width:95.8023%
    }

    // Column Offset Phone

    .epp-of-0--ph{
        margin-left:0;
    }
    .epp-of-1-2--ph{
        margin-left:50%;*margin-left:49.969%
    }
    .epp-of-1-3--ph{
        margin-left:33.3333%;*margin-left:33.3023%
    }
    .epp-of-1-4--ph{
        margin-left:25%;*margin-left:24.969%
    }
    .epp-of-1-5--ph{
        margin-left:20%;*margin-left:19.969%
    }
    .epp-of-1-6--ph{
        margin-left:16.6667%;*margin-left:16.6357%
    }
    .epp-of-1-8--ph{
        margin-left:12.5%;*margin-left:12.469%
    }
    .epp-of-1-12--ph{
        margin-left:8.3333%;*margin-left:8.3023%
    }
    .epp-of-1-24--ph{
        margin-left:4.1667%;*margin-left:4.1357%
    }
    .epp-of-2-3--ph{
        margin-left:66.6667%;*margin-left:66.6357%
    }
    .epp-of-2-5--ph{
        margin-left:40%;*margin-left:39.969%
    }
    .epp-of-3-4--ph{
        margin-left:75%;*margin-left:74.969%
    }
    .epp-of-3-5--ph{
        margin-left:60%;*margin-left:59.969%
    }
    .epp-of-3-8--ph{
        margin-left:37.5%;*margin-left:37.469%
    }
    .epp-of-4-5--ph{
        margin-left:80%;*margin-left:79.969%
    }
    .epp-of-5-6--ph{
        margin-left:83.3333%;*margin-left:83.3023%
    }
    .epp-of-5-8--ph{
        margin-left:62.5%;*margin-left:62.469%
    }
    .epp-of-5-12--ph{
        margin-left:41.6667%;*margin-left:41.6357%
    }
    .epp-of-5-24--ph{
        margin-left:20.8333%;*margin-left:20.8023%
    }
    .epp-of-7-8--ph{
        margin-left:87.5%;*margin-left:87.469%
    }
    .epp-of-7-12--ph{
        margin-left:58.3333%;*margin-left:58.3023%
    }
    .epp-of-7-24--ph{
        margin-left:29.1667%;*margin-left:29.1357%
    }
    .epp-of-11-12--ph{
        margin-left:91.6667%;*margin-left:91.6357%
    }
    .epp-of-11-24--ph{
        margin-left:45.8333%;*margin-left:45.8023%
    }
    .epp-of-13-24--ph{
        margin-left:54.1667%;*margin-left:54.1357%
    }
    .epp-of-17-24--ph{
        margin-left:70.8333%;*margin-left:70.8023%
    }
    .epp-of-19-24--ph{
        margin-left:79.1667%;*margin-left:79.1357%
    }
    .epp-of-23-24--ph{
        margin-left:95.8333%;*margin-left:95.8023%
    }

    // Column Space Phone

    
}

// Columns Tablet 768 to 1151

@media (min-width:768px) and (max-width:1151px){
    .hidden--tb{
        display:none!important;
    }
    .epp-cl-1--tb{
        width:100%
    }
    .epp-cl-1-2--tb{
        width:50%;*width:49.969%
    }
    .epp-cl-1-3--tb{
        width:33.3333%;*width:33.3023%
    }
    .epp-cl-1-4--tb{
        width:25%;*width:24.969%
    }
    .epp-cl-1-5--tb{
        width:20%;*width:19.969%
    }
    .epp-cl-1-6--tb{
        width:16.6667%;*width:16.6357%
    }
    .epp-cl-1-8--tb{
        width:12.5%;*width:12.469%
    }
    .epp-cl-1-12--tb{
        width:8.3333%;*width:8.3023%
    }
    .epp-cl-1-24--tb{
        width:4.1667%;*width:4.1357%
    }
    .epp-cl-2-3--tb{
        width:66.6667%;*width:66.6357%
    }
    .epp-cl-2-5--tb{
        width:40%;*width:39.969%
    }
    .epp-cl-3-4--tb{
        width:75%;*width:74.969%
    }
    .epp-cl-3-5--tb{
        width:60%;*width:59.969%
    }
    .epp-cl-3-8--tb{
        width:37.5%;*width:37.469%
    }
    .epp-cl-4-5--tb{
        width:80%;*width:79.969%
    }
    .epp-cl-5-6--tb{
        width:83.3333%;*width:83.3023%
    }
    .epp-cl-5-8--tb{
        width:62.5%;*width:62.469%
    }
    .epp-cl-5-12--tb{
        width:41.6667%;*width:41.6357%
    }
    .epp-cl-5-24--tb{
        width:20.8333%;*width:20.8023%
    }
    .epp-cl-7-8--tb{
        width:87.5%;*width:87.469%
    }
    .epp-cl-7-12--tb{
        width:58.3333%;*width:58.3023%
    }
    .epp-cl-7-24--tb{
        width:29.1667%;*width:29.1357%
    }
    .epp-cl-11-12--tb{
        width:91.6667%;*width:91.6357%
    }
    .epp-cl-11-24--tb{
        width:45.8333%;*width:45.8023%
    }
    .epp-cl-13-24--tb{
        width:54.1667%;*width:54.1357%
    }
    .epp-cl-17-24--tb{
        width:70.8333%;*width:70.8023%
    }
    .epp-cl-19-24--tb{
        width:79.1667%;*width:79.1357%
    }
    .epp-cl-23-24--tb{
        width:95.8333%;*width:95.8023%
    }

    // Column Offset Tablet

    .epp-of-1-2--tb{
        margin-left:50%;*margin-left:49.969%
    }
    .epp-of-1-3--tb{
        margin-left:33.3333%;*margin-left:33.3023%
    }
    .epp-of-1-4--tb{
        margin-left:25%;*margin-left:24.969%
    }
    .epp-of-1-5--tb{
        margin-left:20%;*margin-left:19.969%
    }
    .epp-of-1-6--tb{
        margin-left:16.6667%;*margin-left:16.6357%
    }
    .epp-of-1-8--tb{
        margin-left:12.5%;*margin-left:12.469%
    }
    .epp-of-1-12--tb{
        margin-left:8.3333%;*margin-left:8.3023%
    }
    .epp-of-1-24--tb{
        margin-left:4.1667%;*margin-left:4.1357%
    }
    .epp-of-2-3--tb{
        margin-left:66.6667%;*margin-left:66.6357%
    }
    .epp-of-2-5--tb{
        margin-left:40%;*margin-left:39.969%
    }
    .epp-of-3-4--tb{
        margin-left:75%;*margin-left:74.969%
    }
    .epp-of-3-5--tb{
        margin-left:60%;*margin-left:59.969%
    }
    .epp-of-3-8--tb{
        margin-left:37.5%;*margin-left:37.469%
    }
    .epp-of-4-5--tb{
        margin-left:80%;*margin-left:79.969%
    }
    .epp-of-5-6--tb{
        margin-left:83.3333%;*margin-left:83.3023%
    }
    .epp-of-5-8--tb{
        margin-left:62.5%;*margin-left:62.469%
    }
    .epp-of-5-12--tb{
        margin-left:41.6667%;*margin-left:41.6357%
    }
    .epp-of-5-24--tb{
        margin-left:20.8333%;*margin-left:20.8023%
    }
    .epp-of-7-8--tb{
        margin-left:87.5%;*margin-left:87.469%
    }
    .epp-of-7-12--tb{
        margin-left:58.3333%;*margin-left:58.3023%
    }
    .epp-of-7-24--tb{
        margin-left:29.1667%;*margin-left:29.1357%
    }
    .epp-of-11-12--tb{
        margin-left:91.6667%;*margin-left:91.6357%
    }
    .epp-of-11-24--tb{
        margin-left:45.8333%;*margin-left:45.8023%
    }
    .epp-of-13-24--tb{
        margin-left:54.1667%;*margin-left:54.1357%
    }
    .epp-of-17-24--tb{
        margin-left:70.8333%;*margin-left:70.8023%
    }
    .epp-of-19-24--tb{
        margin-left:79.1667%;*margin-left:79.1357%
    }
    .epp-of-23-24--tb{
        margin-left:95.8333%;*width:95.8023%
    }
}

// Columns Desktop from 1152

@media (min-width:1152px){
    .epp-cl-1--dt{
        width:100%
    }
    .epp-cl-1-2--dt{
        width:50%;*width:49.969%
    }
    .epp-cl-1-3--dt{
        width:33.3333%;*width:33.3023%
    }
    .epp-cl-1-4--dt{
        width:25%;*width:24.969%
    }
    .epp-cl-1-5--dt{
        width:20%;*width:19.969%
    }
    .epp-cl-1-6--dt{
        width:16.6667%;*width:16.6357%
    }
    .epp-cl-1-8--dt{
        width:12.5%;*width:12.469%
    }
    .epp-cl-1-12--dt{
        width:8.3333%;*width:8.3023%
    }
    .epp-cl-1-24--dt{
        width:4.1667%;*width:4.1357%
    }
    .epp-cl-2-3--dt{
        width:66.6667%;*width:66.6357%
    }
    .epp-cl-2-5--dt{
        width:40%;*width:39.969%
    }
    .epp-cl-3-4--dt{
        width:75%;*width:74.969%
    }
    .epp-cl-3-5--dt{
        width:60%;*width:59.969%
    }
    .epp-cl-3-8--dt{
        width:37.5%;*width:37.469%
    }
    .epp-cl-4-5--dt{
        width:80%;*width:79.969%
    }
    .epp-cl-5-6--dt{
        width:83.3333%;*width:83.3023%
    }
    .epp-cl-5-8--dt{
        width:62.5%;*width:62.469%
    }
    .epp-cl-5-12--dt{
        width:41.6667%;*width:41.6357%
    }
    .epp-cl-5-24--dt{
        width:20.8333%;*width:20.8023%
    }
    .epp-cl-7-8--dt{
        width:87.5%;*width:87.469%
    }
    .epp-cl-7-12--dt{
        width:58.3333%;*width:58.3023%
    }
    .epp-cl-7-24--dt{
        width:29.1667%;*width:29.1357%
    }
    .epp-cl-11-12--dt{
        width:91.6667%;*width:91.6357%
    }
    .epp-cl-11-24--dt{
        width:45.8333%;*width:45.8023%
    }
    .epp-cl-13-24--dt{
        width:54.1667%;*width:54.1357%
    }
    .epp-cl-17-24--dt{
        width:70.8333%;*width:70.8023%
    }
    .epp-cl-19-24--dt{
        width:79.1667%;*width:79.1357%
    }
    .epp-cl-23-24--dt{
        width:95.8333%;*width:95.8023%
    }

    // Column Offset Desktop

    .epp-of-1-2--dt{
        margin-left:50%;*margin-left:49.969%
    }
    .epp-of-1-3--dt{
        margin-left:33.3333%;*margin-left:33.3023%
    }
    .epp-of-1-4--dt{
        margin-left:25%;*margin-left:24.969%
    }
    .epp-of-1-5--dt{
        margin-left:20%;*margin-left:19.969%
    }
    .epp-of-1-6--dt{
        margin-left:16.6667%;*margin-left:16.6357%
    }
    .epp-of-1-8--dt{
        margin-left:12.5%;*margin-left:12.469%
    }
    .epp-of-1-12--dt{
        margin-left:8.3333%;*margin-left:8.3023%
    }
    .epp-of-1-24--dt{
        margin-left:4.1667%;*margin-left:4.1357%
    }
    .epp-of-2-3--dt{
        margin-left:66.6667%;*margin-left:66.6357%
    }
    .epp-of-2-5--dt{
        margin-left:40%;*margin-left:39.969%
    }
    .epp-of-3-4--dt{
        margin-left:75%;*margin-left:74.969%
    }
    .epp-of-3-5--dt{
        margin-left:60%;*margin-left:59.969%
    }
    .epp-of-3-8--dt{
        margin-left:37.5%;*margin-left:37.469%
    }
    .epp-of-4-5--dt{
        margin-left:80%;*margin-left:79.969%
    }
    .epp-of-5-6--dt{
        margin-left:83.3333%;*margin-left:83.3023%
    }
    .epp-of-5-8--dt{
        margin-left:62.5%;*margin-left:62.469%
    }
    .epp-of-5-12--dt{
        margin-left:41.6667%;*margin-left:41.6357%
    }
    .epp-of-5-24--dt{
        margin-left:20.8333%;*margin-left:20.8023%
    }
    .epp-of-7-8--dt{
        margin-left:87.5%;*margin-left:87.469%
    }
    .epp-of-7-12--dt{
        margin-left:58.3333%;*margin-left:58.3023%
    }
    .epp-of-7-24--dt{
        margin-left:29.1667%;*margin-left:29.1357%
    }
    .epp-of-11-12--dt{
        margin-left:91.6667%;*margin-left:91.6357%
    }
    .epp-of-11-24--dt{
        margin-left:45.8333%;*margin-left:45.8023%
    }
    .epp-of-13-24--dt{
        margin-left:54.1667%;*margin-left:54.1357%
    }
    .epp-of-17-24--dt{
        margin-left:70.8333%;*margin-left:70.8023%
    }
    .epp-of-19-24--dt{
        margin-left:79.1667%;*margin-left:79.1357%
    }
    .epp-of-23-24--dt{
        margin-left:95.8333%;*margin-left:95.8023%
    }

}