@import "compass/css3";
@import "compass/support";
@import "compass/utilities/general/clearfix";
@import "compass/css3/transition";

@import "epp-pixelator";
@import "epp-grid";
@import "epp-components";
@import "epp-utils";
@import "epp-stylize";


$black: #222;
$white: #f7f7f7;

$primary:peru;

$primary-lightest:lighten($primary, 30%);
$primary-lighter: lighten($primary, 20%);

$primary-darker: darken($primary, 20%);
$primary-darkest: darken($primary, 30%);

$secondary:orange;

$secondary-lightest:lighten($secondary, 30%);
$secondary-lighter: lighten($secondary, 20%);

$secondary-darker: darken($secondary, 20%);
$secondary-darkest: darken($secondary, 30%);

$gray:gray;

$gray-lightest:lighten($gray, 35%);
$gray-lighter: lighten($gray, 20%);

$gray-darker: darken($gray, 20%);
$gray-darkest: darken($gray, 30%);

$gray:gray;

$gray-lightest:lighten($gray, 35%);
$gray-lighter: lighten($gray, 20%);

$gray-darker: darken($gray, 20%);
$gray-darkest: darken($gray, 30%);

$blue:#0082EB;

$blue-lightest:lighten($blue, 30%);
$blue-lighter: lighten($blue, 20%);

$blue-darker: darken($blue, 20%);
$blue-darkest: darken($blue, 30%);






a{
	color: $blue;
	&:link {
		color: $blue;
	}
	&:visited {
		text-decoration: line-through;
		color: $blue;
		}
	&:hover {
		color: $blue-lighter;
	}
	&:active {
		color: $blue-lightest;
	}
}

.black{
	background: $black;
}
.gray-darkest{
	background: $gray-darkest;
}
.gray-darker{
	background: $gray-darker;
}
.gray{
	background: $gray;
}
.gray-lighter{
	background: $gray-lighter;
}
.gray-lightest{
	background: $gray-lightest;
}
.white{
	background: $white;
}



.blue-darkest{
	background: $blue-darkest;
}
.blue-darker{
	background: $blue-darker;
}
.blue{
	background: $blue;
}
.blue-lighter{
	background: $blue-lighter;
}
.blue-lightest{
	background: $blue-lightest;
}


